
# .NET
bin/
obj/

# dotnet
.dotnet/
.dotnet-cli/

# nuget
.nuget/
packages/

# VS
.vs/

# node
node_modules/

# build
dist/
build/

*.user
**/appsettings.Secrets.json

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# SQLite DB merge artifacts (không commit vào git)
*.db-shm
*.db-wal
*.ours.db
*.ours.db-shm
*.ours.db-wal
*.theirs.db
*.theirs.db-shm
*.theirs.db-wal
